.header {
  padding: 60px;
  background-color: #1abc9c;
  text-align: center;
  color: white;
  font-size: 30px;
  width: auto;
  height: auto;
 
  animation:image 15s infinite alternate;
-webkit-animation:image 10s infinite alternate;
-moz- animation:image 10s infinite alternate;  
}
@keyframes image {
0%{
background-color: #16a085;
}

25%{
background-color:#d35400 ;
}

50%{
background-color: #2980b9;
}

75%{
background-color:#34495e ;
}

100%{
background-color:#2c3e50 ;
}
}